* {
    outline: 1px solid red !important;
}

body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 300;
}

#logo {
    max-height: 60px;
    margin-top: 20px;
}

.blue-light {
    color: #02b3e4;
}
.blue-medium {
    color: #7d97ad;
}

h1 {
    font-weight: 100;
}

hr {
    border-bottom: 3px solid;
}

a:link, a:visited {
    text-decoration: none;
    color: #2d3c49;
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}